QNA_CRAWLER_MYSQL_ROOT_PASSWORD=root
QNA_CRAWLER_MYSQL_DATABASE=qna_dataset
QNA_CRAWLER_MYSQL_USER=qna
QNA_CRAWLER_MYSQL_PASSWORD=qna

QNA_CRAWLER_DATABASE_URL=mysql+mysqlconnector://qna:qna@127.0.0.1:3308/qna_dataset
QNA_CRAWLER_DOCUMENT_DATABASE_URL=mysql+mysqlconnector://law:law@127.0.0.1:3306/law_service
QNA_CRAWLER_TIMEOUT_SECONDS=30
